.list { 
    margin: 50px 0 70px;
}

.list div {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 15px;
    border: 2px solid #eaeaea;
    border-radius: 5px;
}

.list h5 { 
    margin-right: 10px;
    font-size: 0.9rem;
    width: 120px;
}

.list p { 
    width: 100%;
    text-align: left;
    color: #a62626;
}

.list button { 
    margin-right: 10px;
    background-color: #a62626;
    color: #fff;
    border: none;
    padding: 7px;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 5px;
}

.form button:disabled {
    opacity: 0.5;
}